.heading {
    text-align: center;
    font-size: x-large;
    font-family: 'Courier New', Courier;
    font-weight: bold;
    color: black;
    background-color: antiquewhite;
    border: 2px dotted black;
    border-width: 5px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 500px;
}

.desc {
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier;
    font-weight: bold;
    color: black;
    background-color: antiquewhite;
    border: 2px  black;
}

.ing {
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier;
    font-weight: bold;
    color: black;
    background-color: antiquewhite;
    border: 2px  black;
}

.step {
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier;
    font-weight: bold;
    color: black;
    background-color: antiquewhite;
    border: 2px  black;
}

p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.top {
    background-color: white;
    border: 2px solid bisque;
    border-radius: 10px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px 30px;
    cursor: pointer;
}

.main {
    background-color: white;
    border: 2px solid bisque;
    border-radius: 10px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px 30px;
    cursor: pointer;
}


